[user]
	name = AInotamm
	email = rondonay@gmail.com
	editor = vim
[github]
	user = AInotamm
[core]
	gitproxy = /usr/local/etc/connect/socks5proxywrapper
	excludesfile = ~/.gitignore_global
	editor = vim
[http]
	proxy = http://username:password@127.0.0.1:7071
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	page = true
[credential]
	helper = cache
[push]
	default = upstream
[merge]
	log = true
