[user]
	name = AInotamm
	email = ishitoma@outlook.com
	editor = $EDITOR
[github]
	user = AInotamm
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = false
	safecrlf = true
	editor = $EDITOR
[http]
	postBuffer = 52428800
	sslVerify = false
[https]
	postBuffer = 52428800
	sslVerify = false
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
[color]
	ui = true
	diff = true
	status = true
	branch = true
	page = true
[credential "https://github.com"]
	username = AInotamm
[credential "https://gitlab.meitu.com"]
	username = swj
[credential]
	helper = store
[push]
	default = upstream
[merge]
	log = true
[url "git@gitlab.meitu.com:"]
	insteadOf = https://gitlab.meitu.com/
